@import url("./property.css");

/* :root{ */
    /* animation-name: tomato-color-anim; */
    /* animation-duration: 5s; */
    /* animation-iteration-count: infinite; */
    /* transition: background-color 0.5 ease-in-out, color 0.5 ease-in-out; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: -2.5s; */
/* } */

body {
  margin: 0;
  user-select: none;
  -webkit-app-region: drag;
}

.tomato{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: end;
    anchor-name: --tomato;
}

.timer{
    position: absolute;
    position-anchor: --tomato;
    position-area: center center;
    top:48px;
    z-index: 2;
    display: flex;
    flex-direction: column;
} 

.button-section{
    -webkit-app-region: no-drag;
    display: flex;
    z-index: 3;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.timer-display{
    color: var(--timer-background-hover);
    font-family: 'TomatoFont', serif;
    font-size: 40px;
    width: 100vw;
    text-align: center;
    transition: 
        font-size 0.2s ease-out,
        color 0.08s ease
    ;
}


#green{
    position: absolute;
    position-anchor: --tomato;
    position-area: center center;
    bottom: 130px;
    z-index: 1;
    width: 80%;
} 

button{
    background-color: var(--timer-background);
    border:none;
    color: white;
    font-family:monospace;
    cursor:pointer;
    transition: 
        background-color 0.1s ease-in-out, 
        scale 0.08s ease,
        opacity 0.08s ease
    ;
    height: var(--btn-size);
    width: var(--btn-size);
    border-radius: 100px;
}

button:active{
    scale: 0.8;
}

button:hover{
    background-color: var(--timer-background-hover);
}

#btn-reset{
    transition: display 0.08s allow-discrete;
}

#timer-button img{
    height: calc(var(--btn-size) / 2.6);
    position: relative; 
}

.start{
    top:1.5px;
    left: 1px;
}
.stop{
    top: 1.5px;
}
.small{
    scale: 0.7;
}

.opacity-low{
    opacity: 0.5;
}

.opacity-low:hover{
    opacity: 0.6;
}

.timer-running{
    color: black !important;
    font-size: 50px;
    margin-bottom: -10px;
}

#btn-reset{
    font-size: 10px;
    font-family: 'ResetFont', serif;
}

#main_color{
    fill:var(--main-color);
}

#highlight{
    fill: var(--highlight)
}

#shadow{
    fill:var(--shadow)
}

.hide{
    opacity: 0;
    /* visibility:hidden; */
    display: none;
}


